{% extends 'base.html' %}

{% block content %}

<hr />

{% if posts|length == 0 %}
<p>No posts yet</p>
{% else %}

<ul>
    {% for username,post_id,owner_id,post_title,post_content in writer_usernames %}
    <li><a href='./blog?post_id={{post_id}}'><h3>{{post_title}}</h3></a>
        <p>{{post_content}}</p>
        <p><span class="arrow">&rarr; </span> <i>written by <a href="./blog?user={{owner_id}}">{{username}}</a></i></p>
    </li>  
    {% endfor %}
</ul>

{% endif %}

<hr />

{% endblock %}